UtmostTPL/src/org/utmost/reportfile/template/NewXMLSchema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.w3school.com.cn" xmlns="http://www.w3school.com.cn"
	elementFormDefault="qualified">
	<xs:element name="person">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="firstname" type="xs:string" />
				<xs:element name="lastname" type="xs:string" />
			</xs:sequence>
			<xs:anyAttribute />
		</xs:complexType>
	</xs:element>
</xs:schema>